@font-face {
  font-family: "Biko";
  src: url("biko/Biko_Regular.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "BikoBold";
  src: url("biko/Biko_Bold.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
}

:root {
  --blueback: #0864b1;
  --whiteback: #ffffff;
  --greyback: #f5f5f5;
  --whitebackfont: #676767;
  --darkbluefont: #0864b1;
  --whitecard: #fff;
}

[data-theme="dark"] {
  --blueback: #3e3e3e;
  --whiteback: #3e3e3e;
  --greyback: #292929;
  --whitebackfont: #fff;
  --darkbluefont: #55b3ff;
  --whitecard: #1d1d1d;
}

a {
  text-decoration: none;
}

* {
  font-family: "Biko";
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  /* outline: 1px solid red; */
  scroll-behavior: smooth;
  transition: 0.5s all ease;
}

body::-webkit-scrollbar {
  width: 8px;
}
body::-webkit-scrollbar-track {
  /* border-radius: 10px; */
  background-color: white;
}
body::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-color: #0865b18b;
  width: 80%;
}
nav {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  padding: 2vw;
  width: 100%;
  z-index: 10;
  /* position: fixed; */
  /* left: 0; */
  /* top: 0; */
  background: linear-gradient(var(--blueback), #0865b1);
  h1 {
    text-align: left;
    /* font: normal normal bold 45px/80px Biko; */
    font-size: 3vw;
    letter-spacing: 0px;
    color: #ffffff;
    opacity: 1;
    width: 40%;
    font-family: "BikoBold";
    cursor: pointer;
  }

  .navBtns {
    width: 40%;
    cursor: pointer;
    ul {
      list-style: none;
      display: flex;
      justify-content: space-evenly;

      li,
      p {
        text-align: center;
        font-family: "Biko";
        border-radius: 10px;
        /* font: normal normal normal 30px/80px Biko; */
        font-size: 2vw;
        text-transform: capitalize;
        letter-spacing: 0px;
        color: #ffffff;
        opacity: 1;
        padding: 5px;
        transition: 0.5s all ease;
        &&:hover {
          background-color: white;
          color: #0864b1;
        }
      }
    }
  }
}

/* .dark-mode {
  background-color: #3e3e3e;
  color: white;
} */
.theme-toggle2 {
  position: fixed;
  cursor: pointer;
  right: 50px;
  top: 1.1vw;
  z-index: 201;
  p {
    background-color: var(--whitebackfont);
  }
}

.theme-toggle {
  position: fixed;
  cursor: pointer;
  right: 50px;
  top: 30px;
  z-index: 200;
  background-color: #9fd2ff;
  width: 55px;
  height: 55px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  img {
    width: 40px;
    height: 40px;
  }
}
header {
  background-image: url(BackgroundShape.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-color: var(--blueback);
  padding: 50px;
  position: relative;
  transition: 1s all ease;

  .landPage {
    position: relative;
    display: flex;
    justify-content: space-between;
    gap: 50px;
    align-items: center;
    width: 100%;
    /* padding: 50px; */
  }
  .textContent {
    line-height: 135px;
    /* width: 55%; */
    /* line-height: ; */
    h1 {
      /* width: 867px;
            height: 327px; */
      font-size: 5vw;
      text-align: left;
      letter-spacing: 0px;
      line-height: 5vw;
      color: #ffffff;
      opacity: 1;
      margin-bottom: 20px;
    }
    p {
      /* width: 776px;
            height: 300px; */
      text-align: left;
      /* font: normal normal normal 35px/60px Biko; */
      font-size: 1.5vw;
      line-height: 2vw;
      letter-spacing: 0px;
      color: #ffffff;
      opacity: 1;
    }
  }

  img {
    /* width: 60%;   */
    width: 35vw;
    /* height: 800px; */
  }
}

/* HEADER SECTION */
.sectionHead {
  font-family: "BikoBold";
  /* margin-top: 60px; */
  font-size: 3.5vw;
  color: var(--darkbluefont);
  /* text-decoration: underline; */
  position: relative;
  display: inline;
  /* margin-bottom: 90px; */
}

.sectionHead::after {
  content: "";
  position: absolute;
  width: 100%;
  bottom: -5px;
  background-color: #676767;
  height: 5px;
  border-radius: 10px;
  left: 0;
}
/* HEADER SECTION */

/* About Section */
.aboutUs {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  justify-content: space-evenly;
  padding: 10vw;
  gap: 30px;
  background-color: var(--whiteback);
  color: #ffffff;
  .aboutContent1 {
    width: 70%;

    p {
      /* margin-top: 50px; */
      font-size: clamp(15px, 2vw, 60px);
      line-height: 4vw;
      color: var(--whitebackfont);
    }
  }

  .aboutContent2 {
    display: flex;
    flex-direction: row;
    h1 {
      font-size: 4vw;
      color: var(--darkbluefont);
    }
    p {
      font-size: 2.5vw;
      color: #676767;
    }

    .aboutsubcont {
      margin-left: 3vw;
      margin-right: 3vw;
      h1 {
        font-family: "BikoBold";
        color: var(--darkbluefont);
      }
      p {
        font-size: 1.5vw;
        color: var(--whitebackfont);
      }
    }
  }
}
/* About Section */
/* FEATURE SECTION */
.featuresSection {
  background-color: var(--greyback);
  /* padding: 40px; */
  /* height: 100vh; */
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  justify-content: space-evenly;
  padding: 30px;
  gap: 90px;

  .featureContent {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
  }
}

.features {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 20px;
  /* width: 30%; */
  .featureImage {
    background-color: var(--blueback);
    width: 150px;
    height: 150px;
    display: flex;
    align-items: center;
    justify-content: center;
    img {
      width: 50%;
    }
  }
  p {
    width: 70%;
    color: var(--whitebackfont);
    font-size: 2vw;
    line-height: 1.9vw;
  }
}
/* FEATURE SECTION */

@media (max-width: 682px) {
  /*  * {
    outline: 1px solid red;
  } */
  .featuresSection .featureContent {
    flex-direction: column;
    gap: 10px;
    .features {
      flex-direction: row;
      /* width: 100%; */
      .featureImage {
        width: 50vw;
        height: 20vw;
        img {
          width: 11vw;
        }
      }
      p {
        font-size: 3vw;
        line-height: 3vw;
      }
    }
  }
}

/* NEWS SECTION */
.newsSection {
  /* height: 100vh; */
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  gap: 60px;
  background-color: var(--whiteback);
  /* display: flex; */
  /* height: 100vh; */
  /* flex-direction: column; */
  h1 {
    margin: 30px;
    margin-bottom: 30px;
  }

  .newsDisplay {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 45px;
    justify-content: space-evenly;
    .news {
      width: 20vw;
      /* height:300px; */
      background: var(--whitecard);
      color: var(--whitebackfont);
      box-shadow: 0px 0px 12px #0864b133;
      opacity: 1;
      position: relative;
      padding-bottom: 10px;
      img {
        width: 100%;
      }
      p {
        color: var(--whitebackfont);
        /* width: 80%; */
        padding: 2vw;
        font-size: 1.12vw;
        text-align: left;
      }

      .readBtn {
        position: absolute;
        bottom: 10px;
        right: 10px;
        color: var(--darkbluefont);
        font-size: 1.2vw;
        cursor: pointer;
        img {
          width: 1vw;
          height: 1vw;
          margin-left: 2vw;
        }
      }
    }
  }
}

.indicatorSection {
  display: flex;
  flex-direction: row;
  gap: 6px;
  padding-bottom: 35px;
  .indicator {
    width: 60px;
    height: 10px;
    background-color: #9fd2ff;
    &&:first-child {
      background-color: #0864b1;
    }
  }
}
/* NEWS SECTION */

/* TESTIIMONIAL SECTION */
.testimonialSection {
  background-color: var(--greyback);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;

  h1 {
    margin-bottom: 30px;
    margin-top: 30px;
  }
  .testimonialDisplay {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    justify-content: space-around;
    margin-bottom: 60px;
    .leftArrow,
    .rightArrow {
      width: 6vw;
    }
    .rightArrow {
      transform: rotate(180deg);
    }
    .testimonial {
      padding: 30px;
      gap: 25px;
      width: 60vw;
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      /* height: 414px; */
      background-color: var(--whiteback);
      text-align: center;
      .mainTestimonial {
        font-size: 2vw;
        color: var(--whitebackfont);
      }
      .author {
        color: var(--darkbluefont);
        font-size: 2vw;
        font-family: "BikoBold";
        margin-bottom: 20px;
      }
      span {
        color: var(--whitebackfont);
        font-size: 2vw;
      }
    }
  }
}
/* TESTIIMONIAL SECTION */

/* JOIN SECTION */
.joinSection {
  /* height: 500px; */
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  padding: 60px;
  background: var(--blueback);
  position: relative;

  h1 {
    font-family: "BikoBold";
    font-size: 4vw;
    width: 40%;
    color: #ffffff;
  }
  form {
    display: flex;
    gap: 10px;
    flex-direction: column;
    align-items: center;
    /* color: var(--darkbluefont); */

    input {
      /* width: 479px; */
      height: 5vw;
      font-size: 2vw;
      padding: 1vw;
    }
    button {
      /* width: 70%; */
      /* height: 85px; */
      font-size: 2vw;
      background-color: transparent;
      color: #ffffff;
      border: 5px solid #ffffff;
      padding: 10px;
      cursor: pointer;
      transition: 0.5s all ease;

      &&:hover {
        transform: scale(0.9);
        border-radius: 10px;
      }
    }
  }
}

/* JOIN SECTION */

/* CONTACT PAGE */
.contactSection {
  /* height: 100vh; */
  padding-bottom: 40px;
  background-color: var(--greyback);
  display: flex;
  flex-direction: column;
  align-items: center;

  h1 {
    margin-bottom: 40px;
    margin-top: 40px;
  }
  form {
    display: flex;
    flex-direction: column;
    width: 40%;
    gap: 20px;
    .nameInp {
      display: flex;
      justify-content: space-between;
      gap: 2vw;
      width: 100%;
      .inputs {
        display: flex;
        flex-direction: column;
        width: 100%;
        gap: 1vw;
        /* justify-content: ; */
        label {
          font-size: 1.3vw;
          font-family: "BikoBold";
          color: var(--darkbluefont);
        }
        input {
          width: 100%;
          height: 2.5vw;
          padding-left: 0.8vw;
          border: none;
          font-size: 1.4vw;
          padding-left: 1vw;
          background: #ffffff 0% 0% no-repeat padding-box;
          box-shadow: 2px 2px 6px #0864b133;
        }
      }
    }
    .otherinps {
      display: flex;
      flex-direction: column;
      gap: 2vw;
      .inputs {
        display: flex;
        flex-direction: column;
        gap: 1vw;
        label {
          font-size: 1.3vw;

          font-family: "BikoBold";
          color: var(--darkbluefont);
        }
        input {
          padding-left: 0.8vw;
          width: 100%;
          height: 2.5vw;

          font-size: 1.4vw;
          border: none;
          background: #ffffff 0% 0% no-repeat padding-box;
          box-shadow: 2px 2px 6px #0864b133;
        }

        textarea {
          padding: 1vw;
          font-size: 1.4vw;
          width: 100%;
          height: 12vw;
          border: none;
          background: #ffffff 0% 0% no-repeat padding-box;
          box-shadow: 2px 2px 6px #0864b133;
        }
      }
    }
    .buttons {
      margin-top: 30px;
      display: flex;
      align-items: center;
      width: 100%;
      justify-content: center;
      gap: 20px;
      cursor: pointer;

      p {
        font-family: "BikoBold";
        color: var(--darkbluefont);
        font-size: clamp(14px, 2vw, 20px);
      }
      button {
        width: 200px;
        height: clamp(45px, 4.5vw, 80px);
        font-size: clamp(14px, 2vw, 20px);
        /* padding: 2vw; */
        font-family: "BikoBold";
        background-color: #0864b1;
        color: #ffffff;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 8px;
        outline: none;
        border: none;
        transition: 0.5s all ease;
        cursor: pointer;
        img {
          width: 2vw;
        }
        &&:hover {
          /* background-color: ; */
          border-radius: 20px;
          transform: scale(0.9);
        }
      }
    }
  }
}

@media (max-width: 682px) {
  .nameInp {
    flex-direction: column;
  }
  form {
    button {
      /*  width: 200px;
    height: 80px; */
      font-size: 4vw;
      padding: 2vw;
    }
  }

  .ltop {
    align-items: start;
  }
}
/* CONTACT PAGE */

/* FOOTER SECTION */
footer {
  background-color: var(--blueback);
  display: flex;
  justify-content: space-around;
  padding: 30px;
  /* height: 300px; */
  .left {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    /* align-items: start; */
    gap: 60px;
    .ltop {
      display: flex;
      gap: 20px;
      align-items: start;
      h1 {
        font-size: clamp(24px, 2.5vw, 30px);
        color: #fff;
      }
      p {
        color: #fff;
        width: 200px;
        font-size: 1vw;
        line-height: 1.5vw;
        /* width: 80; */
      }
    }
    .lbot {
      display: flex;
      align-items: center;
      justify-content: start;
      p {
        font-size: clamp(10px, 1.5vw, 24px);
        color: #fff;
        img {
          width: 1.3vw;
          /* height: ; */
        }
      }
    }
  }

  .right {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
    gap: 60px;
    .rtop {
      p {
        font-size: 22px;
        color: #fff;
        margin-bottom: 15px;
      }
      .icons {
        display: flex;
        gap: 10px;
        width: 100%;
        flex-wrap: wrap;
        /* flew */
        .single {
          border-radius: 10px;
          overflow: hidden;
          width: 50px;
          height: 50px;
          background-color: white;
          img {
            width: 50px;
            padding: 10px;
          }
          transition: 0.5s all ease;
        }
        .single:hover {
          transform: scale(0.9);
          cursor: pointer;
        }
      }
    }
    .rbot {
      p {
        display: flex;
        align-items: center;
        font-size: clamp(13px, 1.5vw, 34px);
        margin-bottom: 20px;
        color: white;
        img {
          width: 25px;
          height: 25px;
          border-radius: 20px;
        }
      }
      span {
        color: #bdbdbd;
        font-size: clamp(12px, 1.5vw, 24px);
      }
    }
  }
}

@media (max-width: 682px) {
  footer {
    flex-direction: column-reverse;
    gap: 20px;
    .right {
      flex-direction: row;

      .rtop {
        .icons {
          .single {
            width: 40px;
            height: 40px;
            img {
              width: 40px;
            }
          }
        }
      }
      .rbot {
        p {
          margin-bottom: 10px;
        }
      }
    }
    .left {
      flex-direction: row;
      gap: 0;
      .ltop {
        flex-direction: column;
        gap: 10px;
      }
    }
  }
}
/* FOOTER SECTION */

/* POPUP SECTION */

.popBack {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100vh;
  /* width: 100%; */
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
  background-color: #d7edfe75;
  .popup {
    background-color: var(--blueback);
    border-radius: 20px;
    width: 50vw;
    height: 60%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: relative;
    gap: 15px;
    h1 {
      font-family: "BikoBold";
      font-size: 4vw;
      width: 40%;
      color: #ffffff;
      margin: 0px;
    }
    p {
      width: 40%;
      color: #bdbdbd;
    }
    .closeBtn {
      position: absolute;
      right: 20px;
      font-size: 28px;
      display: flex;
      justify-content: center;
      align-items: center;
      color: #0864b1;
      background-color: white;
      top: 10px;
      width: 40px;
      height: 40px;
      /* text-align: center; */
      border-radius: 50%;
      /* width: 0; */
      cursor: pointer;
      transition: 0.5s all ease;
      &&:hover {
        transform: scale(0.8);
      }
    }
  }
}
/* POPUP SECTION */

/* Form Section */
.task2 {
  display: flex;
  /* position: relative; */
  background-color: var(--whiteback);
  padding-top: 20px;
  /* height: ; */
  .leftSection {
    width: 50%;
  }
  .hobbyDisplay {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
    padding: 15px;
    label {
      font-size: clamp(10px, 1.5vw, 60px);
    }
    .hobbyInp {
      display: flex;
      /* gap: 5px; */
      align-items: center;
      flex-direction: column;
      span {
        font-size: 1vw;
        position: absolute;
        /* right: -10px; */
        /* left: -; */
      }

      h1 {
        font-size: 4vw;
        background-color: #0864b1;
        color: #fff;
        cursor: pointer;
        border-radius: 0px 0px 10px 10px;
        width: 100%;
        height: 4vw;
        display: flex;
        align-items: center;
        text-align: center;
        justify-content: center;
      }
    }
    .hobby {
      h1 {
        background-color: #0864b1;
        font-size: 2vw;
        text-align: center;
        padding: 1vw;
        color: white;
        border-radius: 10px;
        transition: 0.2s all ease;
        cursor: pointer;
        &&:hover {
          background-color: rgb(255, 90, 90);
          color: white;
        }
      }
      flex-direction: column;
      display: flex;
      flex-direction: row;
      gap: 20px;
      flex-wrap: wrap;
    }
  }
  input[type="text"] {
    text-transform: capitalize;
    padding: 1.5vw;
    border-radius: 10px 10px 0px 0px;
    font-size: clamp(12px, 1.5vw, 60px);
    transition: 0.5s all ease;
    border: none;
    box-shadow: 0px 0px 10px #0865b177;
    &&:focus {
      box-shadow: 0px 0px 10px #0864b1;
      outline: none;
      border: none;
    }
  }
  form {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 1.5vw;
    gap: 1.5vw;
    padding: 20px;
    text-transform: capitalize;
    input[type="text"] {
      text-transform: capitalize;
      padding: 1.5vw;
      font-size: clamp(12px, 1.5vw, 60px);
      border-radius: 10px;
    }
    button {
      font-size: 2vw;
      /* width: 8vw; */
      height: 4vw;
      display: flex;
      align-items: center;
      justify-content: center;
      background-color: #0864b1;
      color: #fff;
      width: 50%;
      border: none;
      border-radius: 10px;
      transition: 0.8s all ease;
      &&:active {
        transform: scale(0.9);
      }
    }
    hr {
      width: 10%;
    }
    input[type="email"] {
      border-radius: 10px;
      text-transform: capitalize;
      padding: 1.5vw;
      /* font-size: 1.5vw; */
      font-size: clamp(12px, 1.5vw, 60px);

      border: none;
      box-shadow: 0px 0px 10px #0865b177;
      transition: 0.5s all ease;
      &&:focus {
        box-shadow: 0px 0px 10px #0864b1;
        outline: none;
        border: none;
      }
    }
    .genderSelection {
      display: flex;
      gap: 1vw;
    }
    .textInputs {
      /* background-color: #0864b1; */
      display: flex;
      flex-direction: column;
      gap: 1.5vw;
    }
  }
  .singleInput {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }

  label {
    color: var(--darkbluefont);
    font-size: clamp(10px, 1.5vw, 60px);
  }

  .genderInput,
  .checkboxInput {
    display: flex;
    gap: 5px;
    align-items: center;
    /* 
    input[type="radio"],
    input[type="checkbox"] {
      display: none;
    } */

    label {
      background-color: #f0f0f0;
      color: black;
      padding: 10px;
      border-radius: 20px;
      cursor: pointer;
      transition: all 0.3s ease;
      /* &&:hover {
        background-color: ;
      } */
    }

    input[type="radio"]:checked + label,
    input[type="checkbox"]:checked + label {
      background-color: #0864b1;
      color: white;
    }
    /* 
  input[type="radio"]:not(:checked) + label:hover {
    background-color: #d3d3d3;
  } */

    /*   input[type="radio"]:checked + label:hover {
    background-color: #45a049;
  }
 */
  }

  .cardDisplay {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 10px;
    padding: 20px;
    /* height: ; */
    width: 100%;
    /* background-color: #f5f5f5; */
  }
  .card {
    background-color: #0864b1;
    color: white;
    display: flex;
    padding: 20px;
    height: 320px;
    /* width: 18vw; */
    /* align-items: center; */
    justify-content: center;
    flex-direction: column;
    border-radius: 20px;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.4);
    /* width: 0vw; */

    .detailPart {
      overflow: auto;
      display: flex;
      flex-direction: column;
      gap: 5px;
      &&::-webkit-scrollbar {
        width: 8px;
      }
      &&::-webkit-scrollbar-track {
        border-radius: 10px;
        /* margin: 5px; */
        background-color: white;
      }
      &&::-webkit-scrollbar-thumb {
        border-radius: 10px;
        background-color: #0865b18b;
        width: 80%;
        border: 1px solid white;
      }
    }
    ul {
      display: flex;
      width: 90%;
      justify-content: space-around;
      align-items: center;
      flex-wrap: wrap;
      list-style: none;
      gap: 5px;

      background-color: #ffffff;
      border-radius: 5px;
      padding: 5px;
      li {
        color: #0864b1;
        text-transform: capitalize;
        font-size: clamp(12px, 1.5vw, 60px);
      }
    }
    span {
      margin-top: 15px;
      background-color: white;
      color: #0864b1;
      font-size: 1.2vw;
      padding: 1vw;
      border-radius: 10px;
    }
    .cardButtons {
      display: flex;
      gap: 10px;
      justify-content: space-around;
      .deleteBtn {
        background-color: rgb(255, 67, 67);
        font-size: 1.5vw;
        padding: 5px;
        margin-top: 10px;
        border-radius: 10px;
        cursor: pointer;
        width: 100%;
        text-align: center;
        text-transform: capitalize;
      }
      .editBtn {
        background-color: rgb(255, 255, 255);
        font-size: 1.5vw;
        padding: 5px;
        margin-top: 10px;
        color: black;
        border-radius: 10px;
        cursor: pointer;
        width: 100%;
        text-align: center;
        text-transform: capitalize;
      }
    }
    p {
      text-transform: capitalize;
      font-size: 2vw;
    }
  }
  .languageSelection {
    display: flex;
    flex-direction: row;
    gap: 2vw;
  }
}

@media (max-width: 850px) {
  .task2 {
    flex-direction: column;
    /* height: 100vh; */
    align-items: center;
    .cardDisplay {
      width: 100%;
      grid-template-columns: 1fr 1fr 1fr;
    }
    .leftSection {
      width: 50%;
    }
  }
}
/* Form Section */

/* LOGIN PAGE */
.loginpage {
  height: 100vh;
  display: flex;
  /* form */
  align-items: center;
  justify-content: center;
  background-color: var(--whiteback);
  form {
    color: var(--darkbluefont);
    width: 40%;
    display: flex;
    flex-direction: column;
    gap: 10px;
    input[type="text"],
    input[type="password"] {
      padding: 1.5vw;
      border-radius: 10px;
      font-size: clamp(12px, 1.5vw, 60px);
      transition: 0.5s all ease;
      border: none;
      box-shadow: 0px 0px 10px #0865b177;
      &&:focus {
        box-shadow: 0px 0px 10px #0864b1;
        outline: none;
        border: none;
      }
    }
    button {
      font-size: 2vw;
      /* width: 8vw; */
      height: clamp(26px, 4vw, 60px);
      display: flex;
      align-items: center;
      justify-content: center;
      background-color: #0864b1;
      color: #fff;
      /* width: 50%; */
      border: none;
      border-radius: 10px;
      transition: 0.8s all ease;
      cursor: pointer;
      &&:active {
        transform: scale(0.9);
      }
    }
    .singleInput {
      display: flex;
      flex-direction: column;
      gap: 2px;
      label {
        text-transform: capitalize;
        font-size: clamp(18px, 1.5vw, 28px);
      }
    }
  }
}
/* LOGIN PAGE */

/* STEPPER`` */
.stepperholder {
  background-color: var(--whiteback);
  height: 100vh;
}
.stepper {
  display: flex;
  position: relative;
  justify-content: space-around;
  padding-top: 30px;
  /* transition: 1s all ease; */
  .progressbar {
    background-color: #989898;
    height: 10px;
    width: 100%;
    position: absolute;
    top: 50%;
  }
  .step {
    /* transition: 1s all ease; */
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 15px;
    h2 {
      background-color: #515151;
      display: flex;
      align-items: center;
      justify-content: center;
      color: #fff;
      border-radius: 50%;
      width: 80px;
      height: 80px;
      padding: 15px;
    }
    p {
      color: var(--whitebackfont);
    }
    .active {
      box-shadow: 0px 0px 10px #004e8e;
      background-color: #0864b1;
      /* border: ; */
    }
    h2.completed {
      box-shadow: 0px 0px 10px #00d400;
      background-color: #00d400;
    }
    img {
      background-color: #515151;
      display: flex;
      align-items: center;
      justify-content: center;
      color: white;
      border-radius: 50%;
      width: 80px;
      height: 80px;
      padding: 15px;
    }
  }
}
.ActiveComponent {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 25px;
  padding-top: 20px;
  .stepperBtn {
    display: flex;
    justify-content: space-between;
    width: 20%;
    gap: 5px;
    button {
      width: 100%;
      height: 50px;
      font-size: 1.8vw;
      border-radius: 20px;
      background-color: #0864b1;
      color: #fff;
      border: none;
      cursor: pointer;
    }
  }
}

.firstStep {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  label {
    font-size: 2vw;
    color: var(--darkbluefont);
  }
  input[type="text"],
  input[type="number"] {
    text-transform: capitalize;
    padding: 1.5vw;
    border-radius: 10px;
    font-size: clamp(12px, 1.5vw, 60px);
    transition: 0.5s all ease;
    border: none;
    box-shadow: 0px 0px 10px #0865b177;
    &&:focus {
      box-shadow: 0px 0px 10px #0864b1;
      outline: none;
      border: none;
    }
  }
  textarea {
    text-transform: capitalize;
    padding: 1.5vw;
    border-radius: 10px;
    height: 300px;
    width: 100%;
    font-size: clamp(12px, 1.5vw, 60px);
    transition: 0.5s all ease;
    border: none;
    box-shadow: 0px 0px 10px #0865b177;
    &&:focus {
      box-shadow: 0px 0px 10px #0864b1;
      outline: none;
      border: none;
    }
  }
}
/* 
.secondStep {
  display: flex;
  flex-direction: column;
  gap: 10px;
  label {
    font-size: 2vw;
  }
} */

/* STEPPER`` */

/* TABLE */

.displayResult {
  padding: 20px;
  background-color: var(--greyback);
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 20px;
  color: var(--darkbluefont);
}

.tableDisplay {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;
  background-color: var(--greyback);
  padding: 20px;
  table {
    width: 60%;
    text-align: center;
    /* border: 1px solid var(--whitebackfont); */
    box-shadow: 0px 0px 20px #0865b18c;
    border-radius: 10px;
    /* overflow: hidden; */
    padding: 10px;
    thead {
      /* border-radius: 20px; */
      background-color: var(--blueback);
      color: #fff;
      th {
        padding: 10px;
        text-transform: capitalize;
      }
    }
    tbody {
      background-color: var(--);
      color: var(--darkbluefont);
      tr {
        &&:nth-child(even) {
          background-color: var(--whiteback);
        }
        td {
          img {
            width: 50px;
            border-radius: 50%;
          }
        }
      }
    }
  }
}
/* TABLE */

/* SLIDER */
.slidderWrapper {
  background-color: var(--greyback);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 10px;
  padding: 30px;
}
.slidder {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 80%;
  border-radius: 20px;
  height: 500px;
}
.slide {
  border-radius: 20px;
  width: 100%;
  height: 100%;
  cursor: pointer;

  &&:hover {
    box-shadow: 0px 0px 30px #004e8e;
  }
}
.slide-hidden {
  display: none;
}

.slideCtrl {
  display: flex;
  /* background-color: #004e8e; */
  align-items: center;
  justify-content: space-around;
  width: 100%;
}

.leftArrow,
.rightArrow {
  background-color: var(--blueback);
  width: 40px;
  padding: 5px;
  border-radius: 50%;
  height: 40px;
  cursor: pointer;
  &&:hover {
    /* transform: scale(0.9); */
  }
}

.rightArrow {
  transform: rotate(180deg);
}

.indicators {
  display: flex;
  gap: 5px;
}
.indicator {
  width: 20px;
  height: 20px;
  background-color: #0864b1;
  border-radius: 50%;
  cursor: pointer;
}

.indicator-inactive {
  background-color: #5f5f5f9f;
  &&:hover {
    background-color: #ffffff5f;
  }
}
/* SLIDER */
